#HomePage{
    margin: 0;
    padding: 0;
    background-image: url("../img/Ajatar_Hunting_Ground.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.characterBody{
    margin: 0;
    padding: 0;
    background-image: url("../img/Lars_Canyon.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}



.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color: darkslategray;
    position: fixed;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: aliceblue;
    text-align: center;
    background-color: darkslategray;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li p{
    pointer-events: none;
    cursor: default;
    display: block;
    color: aliceblue;
    text-align: center;
    background-color: darkslategray;
    padding: 0px 16px;
    text-decoration: none;
}


.menu li a:hover{
    background-color: rgb(39, 62, 62);
    text-decoration: underline;
}

.active{
    background-color: lightslategray;
}
/* end of menu section */

/* dropdown section */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: darkslategray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {background-color: darkslategray;}
.dropdown:hover .dropdownContent {display: block;}
/* End dropdown */




/* card section */
.container{
    width: 100%;
    align-items: center;
    float: left;
    margin: 300px 0 0 0;
    
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.CardExternal{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px 10px 10px 10px;
    float: left;
    z-index: 0;
    transition:0.5s;
}

.CardExternal:hover{
    scale: 120%;
    z-index: 1;
    box-shadow: 0 8px 16px 2px rgba(0,0,0,0.2);
}   

.CardImageDiv{
    padding: 2px 16px;
}

.CardTextDiv{
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

#GiovannaCardImage{
    background: linear-gradient(to bottom right, #8ee38e, #61d19c);
    
    border-radius: 30px;
}

#GiovannaCardImage:hover{
    box-shadow: 8px 16px 30px rgba(80, 200, 146,0.5);
}

#GiovannaImageText{
    color: #394B41;
}


#LewisCardImage{
    background: linear-gradient(to bottom right, #78e2e5, #18d3cd);
    
    border-radius: 30px;
}
#LewisCardImage:hover{
    box-shadow: 8px 16px 30px rgba(128, 237, 239,0.7);
    
}

#LewisImageText{
    color: #003C3B;
}


#LeoCardImage{
    background: linear-gradient(to bottom right, #ffe71d, #ff7c00);
    border-radius: 30px;
}
#LeoCardImage:hover{
    background: linear-gradient(to bottom right, #ffe71d, #ff7c00);
    box-shadow: 8px 16px 30px rgba(252,187,44,0.5);
}

#LeoImageText{
    color: #680000;
}


#PotCardImage{
    background: linear-gradient(to bottom right, #63694d, #3a3528);
    border-radius: 30px;
}
#PotCardImage:hover{
    background: linear-gradient(to bottom right, #63694d, #3a3528);
    box-shadow: 8px 16px 30px rgba(37,56,49,0.7);
}
#PotImageText{
    color: #7FB6AC;
}

/* End of card section */


/* start of icons section */
.footerMenu{
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 0;
    overflow: visible;
    display: block;
    z-index: 2;
    width: 100%;
    bottom: 0;
    background-color: darkslategray;
    position: fixed;
}

.footerIcons{
    color: lightslategray;
    margin: 0 10px 0 10px;
    font-size: 68px;
    float: right;
    transition: 0.3s;
}

.footerIcons:hover{
    scale:110%;
}

.fa-square-twitter{
    color: #1DA1F2;
}

.fa-instagram{
    color: #e95950;
}

.fa-square-facebook{
    color:#17a9fd;
}

#mapIcon{
    float: left;
}

#mapItem{
    position: fixed;
    float: left;
    transition: 0.3s;
    opacity: 0;
    bottom: 78px;
}

#mapIcon:hover #mapItem{
    opacity: 1;
}

/* moves */

.moveContainer{
    margin: 70px 0 0 0;
}

.ultimateContainer{
    margin: 0;
}

.CharacterCard{
    background: whitesmoke;
    border-radius: 15px;
}

.SpecialTable{
    margin: 50px auto 30px auto;
    table-layout: fixed;
}

.SpecialRow{
    vertical-align: middle;
    text-align: center;
}

.UltimateCard{
    text-align: center;
    margin-bottom: 60px;
    background: linear-gradient(to bottom right, #ffff00, #fc5b1f);
}

.infoBanner{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#InfoText{
    display: flex;
    justify-content: center;
}
#InfoText p{
    font-size: 72px;
    background-color: whitesmoke;
    color: #003C3B;
}